main{
    display: grid;
    grid-template-rows: 50px 1fr;
    font-size: 40px;
    overflow: hidden;
    text-align: center;
}

#block{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 480px;
    background: #C3E8C7;
}
.number{
    transition: .2s;
}

.number:hover{
    background: #E8FFE2;
}

#resBlock{
    background: #D6FFE7;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

#showing{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 25px;
    color: dimgrey;
}
